# .env.example
# 이 파일을 복사해서 .env 파일을 만들고 실제 정보를 입력하세요.

SECRET_KEY=dev-secret-key-12345

# MariaDB 연결 정보 (각자 로컬 또는 공유 서버 정보 입력)
DB_USER=human2team
DB_PASSWORD=human2team
DB_HOST=localhost
DB_PORT=3306
DB_NAME=stocklab_db

# Flask 설정
FLASK_APP=run.py
FLASK_ENV=development

# 한국투자증권 API
KIS_APP_KEY=your_kis_app_key
KIS_APP_SECRET=your_kis_app_secret

GEMINI_MODEL="gemini-2.5-flash"# 혹은 gemini-2.5-pro 원하는 모델 입력
GEMINI_API_KEY="AIzaSyD2G_UtSWJjLHN1LUMFVAIRYfGdjxU8kZs"# 확인된 API Key 입력
GOOGLE_CLOUD_PROJECT="gen-lang-client-0898928120"# 확인된 구글 클라우드 Project ID 입력